<h2>Customer Orders</h2>

<table border="1">

<tr>
<th>Name</th>
<th>Email</th>
<th>Total</th>
<th>Payment</th>
<th>Date</th>
</tr>

<% orders.forEach(function(o){ %>

<tr>

<td><%= o.name %></td>

<td><%= o.email %></td>

<td>₹<%= o.total %></td>

<td><%= o.paymentStatus %></td>

<td><%= new Date(o.createdAt).toLocaleDateString() %></td>

</tr>

<% }) %>

</table>